* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 5rem;
  height: 100vh;
  background-image: url("../images/clima1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  margin-bottom: 2rem;
  color: white;
}

main section.app ul {
  justify-content: center;
  list-style: none;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

main section.app ul li {
  box-shadow: #2196f3 0px 0px 5px 1.5px;
  border: transparent;
  background-color: azure;
  padding: 1rem;
  width: 10rem;
  height: 12rem;
}

section.result p {
  padding: 1rem;
  text-align: center;
}

#button {
  padding: .375rem .75rem;
  border: 1px solid #007bff;
  border-radius: .25rem;
  color: #007bff;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

#button:hover, #button:active, #button:focus {
  color: #fff;
  background-color: #007bff;
}

