@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400 & display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-image: url("../images/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

body header div {
  margin-top: 3rem;
  color: #183c7abf;
  font-size: 1.5rem;
  text-align: center;
}

header h1 {
  padding: 3rem 0;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

main section.app {
  margin-bottom: 2rem;
}

main section.app ul {
  justify-content: center;
  list-style: none;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
}

main section.app ul li {
  box-shadow: #5f88b0 0px 0px 5px 2.5px;
  border: transparent;
  border-radius: 0.25rem;
  background-color: azure;
  color: #6481af;
  padding: 1rem;
  width: 10rem;
  height: 17rem;
}

main section.app ul li h4 {
  padding: 0.5rem 0;
}

main section.app ul li img {
  width: 7rem;
}
main section.app ul li p {
  padding-bottom: 0.3rem;
}

section.result {
  padding: 2rem;
}

section.result p {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2rem;
}

#button {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 10rem;
  border: 1px solid #e8e9e7;
  border-radius: 0.25rem;
  color: #44659c;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}

#button:hover,
#button:active,
#button:focus {
  color: #fff;
  background-color: #6481af;
}
